* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: bisque;
}

h3 {
  font-weight: 800;

  font-size: 18px;
  text-shadow: 1px 1px #d3d3d3;
  min-width: 200px;
  max-width: 250px;
  line-height: 1.2;
}
ul {
  min-height: 40vh;
  max-height: 60vh;
  background-color: rgb(211, 255, 240);
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  list-style-type: none;
  /* overflow-y: scroll; */
  padding-left: 24px;
  padding-right: 24px;
}
li {
  /* min-width: 50vw; */
  margin: 12px 0;
  line-height: 2;
}
button {
  width: 60px;
  height: 25px;

  margin-right: 6px;
}
.btn-create {
  margin-left: 12px;
}
.user__input-container {
  position: absolute;
  top: 0;
}
.user__input {
  display: flex;
  position: relative;
  margin: 6px 12px;
}
label {
  font-weight: 800;
  display: block;
  min-width: 120px;
}
img {
  width: 60px;
  height: 60px;
}
.list-courses {
  display: flex;
}
.student__info {
  display: flex;
  align-items: center;
}
.student__heading {
  padding-left: 12px;
  padding-right: 12px;
}
